{% extends 'basetemplate.html' %}


{% block title_body %}
    <h1>Add Admin</h1>
    <a href="{% url 'getAllAdmin' %}"><img style="max-height: 50px;" src="https://icon-library.com/images/html-home-icon/html-home-icon-6.jpg" alt=""></a>
{% endblock title_body %}
{% block data_body %}


<form method="POST">
    {%csrf_token %}
    <div class="col-md-12">
        <div class="col-md-4 mb-3">
            <label for="validationServer01">Name Admin</label>
            <input type="text" class="form-control is-valid" id="validationServer01"  required name='name'>
        </div>
        <div class="col-md-4 mb-3">
            <label for="validationServer02">Permission for CRUD</label>
            <input type="text" class="form-control is-valid" id="validationServer02"  placeholder='e.g True or False' required name="permission">
        </div>
        <div class="col-md-4 mb-3"> 
            <label for="validationServer03">Employee number</label>
            <input type="text" class="form-control is-invalid" id="validationServer03"  required name="employee_num">
        </div>
        <div class="col-md-4 mb-3">
            <label for="validationServer03">Password</label>
            <input type="text" class="form-control is-invalid" id="validationServer03"  required name="password">
        </div>
    <button class="btn btn-primary" type="submit">Submit form</button>
</form class=" form-group">


{% if messages %}
    {% for message in messages  %}
        {% if message.tags == 'success' %}
            <div class="alert alert-success col-md-4">{{message}}</div>
        {% elif message.tags == 'error'%}
            <div class="alert alert-danger col-md-4">{{message}}</div>
        {% endif %}
    {% endfor %}
{% endif %}
{% endblock data_body %}