{% extends 'basetemplate.html' %}

{% block title_body %}
    <h1>All Products</h1>
{% endblock title_body %}

{% block data_body %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">#SKU</th>
      <th scope="col">Name Product</th>
      <th scope="col">Price</th>
      <th scope="col">Brand</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for products in all_products %}
        <tr>
            <td>{{products.sku}}</td>
            <td>{{products.name}}</td>
            <td>{{products.price}}</td>
            <td>{{products.brand}}</td>
            <td>
              <a href="/update_products/{{products.sku}}" class="btn">Update</a>
              <a href="/delete_products/{{products.sku}}" class="btn btn-success">Delete</a>
            </td>
        </tr>
    {% endfor %}
  </tbody
</table>
{% endblock data_body %}

